.titulo {
    background-color: #f8dfe5;
    color: #5c4033;
    text-align: center;
    padding: 30px;
    border: 2px solid #5c4033;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.menu {
    background-color: #5c4033;
    text-align: center;
    padding: 15px;
}

.menu a {
    color: #f8dfe5;
    font-family: Arial, Helvetica, sans-serif;
}

.apresentacao {
    background-color: #fffaf2;
    color: #5c4033;
    text-align: center;
    padding: 30px;
}

section {
    background-color: #fffaf2;
    text-align: center;
    padding: 30px;
}

h2 {
    color: #5c4033;
}

.produto {
    background-color: #f8dfe5;
    color: #5c4033;
    padding: 20px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    border: 2px solid #5c4033;
    vertical-align: top;
    font-family:'Times New Roman', Times, serif
}

.produto img {
    width: 210px;
    height: 220px;
}

#destaques {
    padding: 30px;
}

.ambiente {
    background-color: #f8dfe5;
    color: #5c4033;
    width: 200px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #5c4033;
    vertical-align: top;
}

.ambiente img {
    width: 150px;
    height: 150px;
}

.localizacao {
    background-color: #fffaf2;
    color: #5c4033;
    text-align: center;
    padding: 30px;
    border-top: 2px solid #5c4033;
}

footer {
    background-color: #5c4033;
    color: #f8dfe5;
    text-align: center;
    padding: 20px;
}